<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="right" md-is-locked-open="$media('')" tabindex="-2">
	<md-toolbar class="md-theme-light cart-toolbar" layout="column">
		<h1 ng-click="toggleCart()" class="md-toolbar-tools" flex layout="column">
			<svg xmlns="http://www.w3.org/2000/svg" style="color:white" width="24" height="24" viewBox="0 0 24 24">
				<path d="M7 18c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1h-14.79l-.94-2h-3.27zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
				<path d="M0 0h24v24h-24z" fill="none"/>
			</svg>
			<span>Shopping Cart <span ng-if="cart.items.length > 0">([[cart.items.length || 0]])</span></span>
		</h1>
	</md-toolbar>

	<md-content ng-if="cart.user" flex class="md-padding">
		<md-list role="list" hide-md show-gt-md>
			<div class="items">
				<md-item-content layout="row" ng-repeat="item in cart.items">
					<div flex="25" ng-if="item.product.images">
						<img class="product-image" ng-src="[[generatePartImage(item.product)]]" alt="[[item.name]]">
					</div>
					<div flex="55">
						<span>[[item.name]]</span>
					</div>
					<div flex="20">
						<span class="price">[[getPartPrice(item.product)]]</span>
						<span>x</span>
						<input type="text" class="form-control qty" integer ng-change="updateQuantity(item)" ng-model-onblur ng-model="item.quantity" value="[[item.quantity]]">
						<button type="button" class="close" aria-label="Close" ng-click="removeItem(item)"><span aria-hidden="true">&times;</span></button>
					</div>
				</md-item-content>
			</div>
			<div ng-if="customer">
				<md-item-content>
					<a href="/account" title="Your Account">Your Account</a>
				</md-item-content>
				<md-item-content>
					<a href="/account/orders" title="Your Orders">Your Orders</a>
				</md-item-content>
				<md-item-content>
					<a href="/recommendations" title="Your Recommendations">Your Recommendations</a>
				</md-item-content>
				<md-item-content>
					<span>Not [[customer.first_name + ' ' + customer.last_name]]?</span>
					<a href="/logout" title="Sign Out">Sign Out</a>
				</md-item-content>
			</div>
			<form class="horizontal-form" role="form" ng-submit="login()" ng-if="!customer">
				<div class="form-group">
					<label for="login_email" class="sr-only">E-Mail Address</label>
					<input class="form-control" id="login_email" type="email" name="username" placeholder="Email address" ng-model="auth.email">
				</div>
				<div class="form-group">
					<label for="login_password" class="sr-only">Password</label>
					<input class="form-control" id="login_password" type="password" name="password" placeholder="Password" ng-model="auth.password">
				</div>
				<div class="form-group">
					<button class="btn btn-danger">Login</button>
					<span class="divider"></span>
					<a href="/account/new">Create Account</a>
				</div>
			</div>
		</md-list>
	</md-content>
</md-sidenav>