<md-content md-scroll-y flex class="md-padding category">
	<div layout="column" layout-fill class="body-content">
		<div class="heading" layout="row" layout-fill>
			<div class="image md-tile-left">
				<img src="[[category.image.Scheme]]://[[category.image.Host]][[category.image.Path]]" alt="[[category.title]]">
			</div>
			<div class="md-tile-content">
				<div class="html-content" ng-bind-html="renderHTML(getCategoryHeaderContent())"></div>
			</div>
		</div>

		<md-content flex>
			<md-list role="list">

			<md-card ng-click="goTo('/category/[[cat.id]]')" ng-repeat="part in category.product_listing.parts | orderBy:'id'" touch-action="pan-y">
				<md-item-content layout="row">
					<div flex="40">
						<img ng-src="[[generatePartImage(part)]]" alt="CURT #[[part.id]] - [[part.short_description]]">
					</div>
					<div flex="40" hide-sm>
						<h2>CURT #[[part.id]] - [[part.short_description]]</h2>
					</div>
					<div flex="20">
						<p>[[getPartPrice(part)]]</p>
						<md-button ng-click="addToCart(part)" class="md-raised md-warn">Add to Cart</md-button>
					</div>
				</md-item-content>
			</md-card><!-- end ngRepeat: item in todos -->

			</md-list>
		</md-content>
	</div>
</md-content>