<link rel="import" href="/vendor/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="/vendor/paper-input/paper-input-decorator.html">
<link rel="import" href="/vendor/paper-input/paper-input.html">
<link rel="import" href="/vendor/paper-button/paper-button.html"></link>

<div>
	<paper-input class="md-grey-theme" label="email"></paper-input>
	<paper-input type="password" label="password"></paper-input>
	<paper-button raised role="button" class="md-blue-theme">Login</paper-button>
</div>