<md-content md-scroll-y flex class="md-padding">
	<div layout="column" layout-fill class="body-content">

		<md-content flex>
			<md-list role="list">

			<md-card ng-click="goTo('/category/[[cat.id]]')" ng-repeat="cat in categories | orderBy:'sort'" touch-action="pan-y">
				<md-item-content>
					<div class="md-tile-left">
						<img ng-src="[[generateCategoryImage(cat)]]" alt="[[cat.title]]">
					</div>
					<div class="md-tile-content">
						<h2>[[cat.title]]</h2>
						<p>[[cat.short_description]]</p>
					</div>
				</md-item-content>
			</md-card><!-- end ngRepeat: item in todos -->

			</md-list>
		</md-content>
	</div>
</md-content>