// bower:scss
// endbower

@import "/vendor/angular-material/angular-material.min.css";
@import "/vendor/angular-material/themes/blue-theme.css";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
