<link rel="import" href="../../vendor/polymer/polymer.html">
<link href="/vendor/core-ajax/core-ajax.html" rel="import">
<link href="/vendor/core-collapse/core-collapse.html" rel="import">
<link href="/vendor/core-menu/core-menu.html" rel="import">
<link href="/vendor/paper-dropdown/paper-dropdown.html" rel="import">
<link href="/vendor/paper-dropdown-menu/paper-dropdown-menu.html" rel="import">
<link href="/vendor/paper-item/paper-item.html" rel="import">

<polymer-element name="lookup-element" noscript>
	<template>

		<core-ajax auto
			url="http://api.curtmfg.com/v2/GetYear?dataType=json"
			response="{{years}}"
			handleas="json">
		</core-ajax>

		<!-- year -->
		<paper-dropdown-menu label="Year">
			<paper-dropdown class="dropdown">
				<core-menu ng-model="vehicle.year" class="menu">
					<template repeat="{{year in years}}">
						<paper-item name="{{year}}">{{year}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>

		<!-- make -->
		<paper-dropdown-menu label="Make" disabled>
			<paper-dropdown class="dropdown">
				<core-menu class="menu">
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>

		<!-- model -->
		<paper-dropdown-menu label="Model" disabled>
			<paper-dropdown class="dropdown">
				<core-menu class="menu">
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>

		<!-- submit -->
		<md-button>Find</md-button>

	</template>
</polymer-element>